/* Desktop View */

@media screen and (min-width: 992px) {
  .ContentContainer {
    padding: 0% 1% 1.5% 1%;
  }

  .newsDescription {
    font: 14px / normal 'Roboto', Helvetica, Sans-Serif;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    color: #444;
    white-space: normal;
    line-height: 18px;
  }

  .cardContainer {
    height: 274px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 0.5em;
  }

  .newsImageIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
